<div class="container">
  <h1>
    Nossos Empregados
  </h1>

  <table class="table">
    <thead>
      <th>Nome</th>
      <th>Salário</th>
      <th>Bônus</th>
    </thead>
    <tbody>
      <tr *ngFor="let employer of employeeService.employee; let i = index">
        <td>
          {{ employer.nome }}
        </td>
        <td salaryColor="{{ employer.salario }}">
          R$ {{ employer.salario.toFixed(2) }}
        </td>
        <td>
          R$ {{ employer.bonus.toFixed(2) }}
        </td>
        <td (click)="removeEmployee(i)"
          style="cursor: pointer; color: #2196f3">
          Excluir
        </td>
      </tr>
      <tr *ngIf="employeeService.employee.length === 0">
        Nenhum Empregado Cadastrado
      </tr>
    </tbody>
  </table>
</div>
